# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
/.qmake.cache
/.qmake.stash
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h

# QtCreator
*.autosave
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
CMakeLists.txt.user
CMakeLists.txt.user.*

# Misc
.DS_Store
Makefile*
*.ninja
*build-*
build/
bin/
*.qm
*_translations.qrc
*.cache
CMakeFiles/
